**/*.DS_Store
**/target
**/*.class
**/*.log
**/*~
**/*.out

# sbt, vscode, metals
**/project/metals.sbt
.metals
.bloop
.history
.bsp
.dotty-ide-disabled


# Scala-IDE
.scala_dependencies
.cache
.classpath
.project
.settings
classes/

# idea
.idea
.idea_modules
/.worksheet/